@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background-color: #d07380;
  color: #e5e5e5;
  font-weight: normal;
  cursor: pointer;
}

.btn-secondary {
  background-color: #e5e5e5;
  color: #1a1423;
  font-weight: normal;
}

.btn-disabled {
  background-color: gray;
  color: white;
  font-weight: normal;
  cursor: wait;
}

.importantWord {
  font-weight: bold;
  color: #d07380;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-content {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  position: relative;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a142380;
  border-radius: 2px;
  border-color: #d07380;
  border-width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: #d07380;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.custom-range:hover {
  opacity: 1;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e5e5;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e5e5e5;
  cursor: pointer;
}
