@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background-color: #d07380;
  color: #e5e5e5;
  font-weight: normal;
  cursor: pointer;
}

.btn-secondary {
  background-color: #e5e5e5;
  color: #1a1423;
  font-weight: normal;
  cursor: pointer;
}

.btn-disabled {
  background-color: gray;
  color: white;
  font-weight: normal;
  cursor: wait;
}

.importantWord {
  font-weight: bold;
  color: #d07380;
}
